name: delineate-prod

services:
  delineate-app:
    image: ${DOCKERHUB_USERNAME}/delineate-hackathon:latest
    container_name: delineate-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PUBLIC_DOWNLOAD_URL=https://${DOMAIN_NAME}/storage
      - S3_ENDPOINT=http://minio:9000
    depends_on:
      - minio

  delineate-web:
    image: ${DOCKERHUB_USERNAME}/delineate-web:latest
    container_name: delineate-web
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - delineate-app
      - minio

  minio:
    image: minio/minio
    container_name: minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
    volumes:
      - minio_data:/data

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until /usr/bin/mc config host add myminio http://minio:9000 ${MINIO_ROOT_USER:-minioadmin} ${MINIO_ROOT_PASSWORD:-minioadmin}; do echo '...waiting for minio...'; sleep 1; done;
      /usr/bin/mc mb myminio/downloads || true;
      /usr/bin/mc policy set public myminio/downloads;
      exit 0;
      "

volumes:
  minio_data:
