name: delineate

services:
  delineate-app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "4001:4001"
    volumes:
      - ../src:/app/src
      - ../.env:/app/.env
    env_file:
      - ../.env
    environment:
      - NODE_ENV=development
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://delineate-jaeger:4318
      - S3_ENDPOINT=http://minio:9000
    depends_on:
      - delineate-jaeger

  delineate-frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ../frontend/src:/app/src
    depends_on:
      - delineate-app

  delineate-jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - delineate-app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " file=/tmp/.mc-configured; if [ ! -f $file ]; then
        until /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin; do echo '...waiting for minio...'; sleep 1; done;
        /usr/bin/mc mb myminio/downloads;
        /usr/bin/mc policy set public myminio/downloads;
        touch $file;
      fi; "
volumes:
  minio_data:
